# --- PRISMA DATABASE CONNECTION ---
DATABASE_URL="postgresql://user:password@localhost:5432/dbname"

# --- NEXTAUTH SECURITY ---
AUTH_SECRET="generate_a_random_32_character_string_here"

# --- GOOGLE GEMINI API ---
GEMINI_API_KEY="your_gemini_api_key_here"
